@import url('https://fonts.googleapis.com/css2?family=Carlito&display=swap');


.fondobanner1{
    background-color: #353A40;
    
    display: flex;
    justify-content: center;
}

.comprar{
    color: #29A63C !important;
}






.presentacion{
    width: 99vww;
    height: 80vh;
    position: relative;
    
    margin-bottom: 1rem;
}


.carousel{
    max-width: 99vw !important;
}

.carrusel{
    height:20rem;
    width: 100vw;
    
}

.bannerCarrusel{
    position: relative;
    display: block;
    height:39rem ;
}
.itemCarrusel{
    height: 39rem;
    width: 100vw;
    
}

.carousel-item{
    max-width: 100vw !important;
}
.imagenesCarrusel{
    object-fit: cover
    ;
}
.botonesCarrusel{
    position: absolute;
    
}

.fondoApagado{
    width: 98.5vw;
    height: 39rem;
    background-color: #353A4075;

    position: absolute;
    top: 0px;
}

.tituloConfBsAs{
    position: absolute;
    right: 8rem;
    top: -3rem;
}
.confBsAs{
    color:#FFFFFF !important;
    font-family: 'Carlito', sans-serif;
    font-size: 3rem !important;
}
.texto{
    color:#FFFFFF !important;
    font-family: 'Carlito', sans-serif;
    text-align: right;
    font-size: 1.3rem;
    
    position: absolute;
    right: 8rem;
    top: 1rem;
    margin-bottom: 6rem;
}

.botonesPresentacion{
    position: absolute;
    right: 8rem;
    top: 9rem;
    margin-top: 3rem;
}



.conoceA{
    color: #353A40 !important;
    text-align: center;
    
}

.tituloOradores{
    text-align: center;
    color: black !important;
}

.cartitasOradores{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.cartasOradores{
    justify-content: center;
}

.ubicacionCartas{
    margin-left: 1.5rem ;
}

.botonesCarta{
    height: 1.5rem;
    display: flex;
    margin-bottom: 1.5rem;
}

.botonCarta{
    height: 100%;
    margin-left: 0.3rem;
    position: relative;
    
}

.btn-warning{
    color: #000 !important;
    font-weight: 880 !important;
    
    }

.btn-info, .btn-secondary, .btn-danger{
    color: #FEFEFE !important;
    font-weight: 700 !important;
}

.cartaHorizontal{
    background-color: #353A40 !important;
}

.cartaHonolulu{
    color: white !important;
}

.elFormulario{
    margin-bottom: 2rem;
}

.paraDar{
    display: flex !important;
    text-align: center;
    justify-content: center;
}

.anotate{
    font-size: 1rem;
    margin-left: 0.4rem;

}

.formularioOrden{
    display: flex;
    justify-content: center;
}

.formularioNombreApellido{
    display: flex;
    
}

.formularioOrden2{
    display: flex;
    justify-content: center;
    margin-top: 1rem !important;
}
.formularioOrden3{
    display: flex;
    justify-content: center;
}

.formularioOrden3 p{
    color: dimgray;
}

.formularioOrden4{
    display: flex;
    justify-content: center;
}

.sobreQueHablar{
    height: 7rem !important;
    font-size: 1em;
}

.sobreQueHablar::placeholder{
    font-size: 2em;
}

.botonEnviar{
    background-color: #95BF3B !important;
    color: #FFFFFF !important;
    font-size: 1.5em !important;
}





.bannerInferior{
    background-color: #1D475F;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ordenBannerInferior{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.itemBannerInferior{
    margin-left: 4rem;
    text-align: center;
}

.itemBannerInferior a{
    color:#FFFFFF;
    text-decoration: none !important;
}

.bannerInferior ul{
    list-style: none;
}

.bannerInferior li{
    color: #FFFFFF;
    text-align: center;
    margin-left: 2rem;
}

h3{
    color: #FFFFFF !important;
    font-family: 'Carlito', sans-serif;
    font-size: calc(1em + 1vw);
}   


@media screen and (max-width: 1400px){
    .conoceAlosOradores{
        margin-top: 9rem;
    }
    
    .tituloConfBsAs{
        top: -12rem;
        right: 1rem;
    }
    
    .texto{
    font-size: 1.3rem !important;
    position: absolute;
    top: -8rem ;
    right: 1rem;
    }
    .botonesPresentacion{
    width: 50%;
    display: block;
    
    position: absolute;
    right: -15rem;
    top:6rem;
    }
    }

    @media screen and (max-width: 1200px){
        
        .tituloConfBsAs{
            top: -12rem;
            right: 1rem;
        }
        
    
        .texto{
        font-size: 1.2rem !important;
        position: absolute;
        top: -8rem !important;
        right: 1rem;
    }
    .botonesPresentacion{
        width: 50%;
        display: flex;
    
        
        right: -15rem;
        top:1rem;
    }
    }

    @media screen and (max-width: 1050px){

        
    
        .imagenesCarrusel{
            object-fit: contain;
        }
        .carrouesel-inner{
            margin-bottom: 15rem !important;
        }
        .conoceAlosOradores{
            margin-top: 15rem;
        }
    
        .tituloConfBsAs{
            top: -12rem;
            right: 1rem;
        }
    
        .texto{
        font-size: 1rem !important;
        position: absolute;
        top: -5rem  !important;
        right: 1rem;
    }
    .botonesPresentacion{
        width: 50%;
        display: flex;
    
        
        right: -9rem !important;
        top:3rem ;
    }
    
    
        .texto{
            font-size:  1rem;
        }
        .fondoApagado{
            background-color: #353A4075;
            height: 124%;
        }
    }


@media screen and (max-width: 800px){
    .bannerCarrusel{
    position: relative;
    top: -14rem;
    
}

.bannerInferior{
    height: 25vh;;
}

.texto{
    font-size: 0.9rem;
    top: 0.1rem;
}

 
.confBsAs{
    font-size: 1.5rem !important;
}


.botonesCarta{
    display: flex;
    flex-wrap: wrap;
}
.btn-info, .btn-secondary, .btn-danger, .btn-warning{
    font-size: 0.7rem !important;
}

    .tituloConfBsAs{
        top: -4rem;
        right: 1rem;
    }

    .texto{
    font-size: 0.9rem !important;
    position: absolute;
    top: -2rem !important;
    right: 1rem !;
}
    .presentacion{
        height: 15rem;
    }

    .botonesPresentacion{
        width: 50%;
        display: flex;

        
        right: -2rem !important;
        top: 4rem ;
    }
    .fondoApagado{
        height: 172%; 
        background-color: #353A4075 !important;
    }

    .bannerInferior{
        height: 50vh !important;
        justify-content: center;
    }
    .ordenBannerInferior{

        display: block;
        justify-content: center;
    }

    .ordenBannerInferior li{
        text-align: start;
    }
}

@media screen and (max-width: 650px){
    .bannerCarrusel{
    position: relative;
    top: -14rem;
    
}

.bannerInferior{
    height: 25vh;;
}

.texto{
    font-size: 0.9rem;
    top: 0.1rem;
}

 
.confBsAs{
    font-size: 1.5rem !important;
}


.botonesCarta{
    display: flex;
    flex-wrap: wrap;
}
.btn-info, .btn-secondary, .btn-danger, .btn-warning{
    font-size: 0.7rem !important;
}

    .tituloConfBsAs{
        top: -4rem;
        right: 1rem;
    }

    .texto{
    font-size: 0.9rem !important;
    position: absolute;
    top: -2rem !important;
    right: 3rem !;
}
    .presentacion{
        height: 15rem;
    }

    .botonesPresentacion{
        width: 50%;
        display: flex;

        
        right: 1rem !important;
        top: 2rem ;
    }
    .fondoApagado{
        height: 129%; 
        background-color: #353A4075 !important;
    }

    .bannerInferior{
        height: 60vh !important;
        justify-content: center;
    }
    .ordenBannerInferior{

        display: block;
        justify-content: center;
    }

    .ordenBannerInferior li{
        text-align: start;
    }
}

@media screen and (max-width: 430px){

    .tituloConfBsAs{
        top: -4rem;
        right: 1rem;
    }

    .texto{
    font-size: 0.8rem !important;
    position: absolute;
    top: -2rem !important;
    right: 1rem;
}
    .presentacion{
        height: 15rem;
    }

    .botonesPresentacion{
        width: 50%;
        display: flex;

        
        right: 1rem;
        top: 4rem;
    }

    .botonesPresentacion btn{
        height: 20% !important;
    }

    .fondoApagado{
        height: 50%; 
        background-color: #353A4075 !important;
    }
    .botonesCarrusel{
        z-index: 0 !important;
    }

    .bannerCarrusel{
        height: 29%;
    }

    .conoceAlosOradores{
        margin-top: 1rem !important;
    }

    .botonesCarta{
        display: flex;
        flex-wrap: wrap;
    }
    .btn-info, .btn-secondary, .btn-danger, .btn-warning{
        font-size: 0.7rem !important;
    }

    .bannerInferior{
        height: 50vh !important;
        justify-content: center;
    }
    .ordenBannerInferior{

        display: block;
        justify-content: center;
    }

    .ordenBannerInferior li{
        text-align: start;
    }

}






