@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pinyon+Script&display=swap');
body{
background: url(https://a-static.besthdwallpaper.com/black-windows-11-background-wallpaper-1920x1080-106350_48.jpg) no-repeat center center fixed;
background-size: cover;
}

.titulo{
    background-color: #3E3E4F !important;
    border:    2px solid #a695cf;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    display: flex;
    
}
.banner{
        background-color: #c1c1ed8c;
        text-align: center;
}
.cartitas{
    background-color: #8C8C8C;
    text-align: center;
    
}

.cartas{
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.hola{
    background-color: #00000096;
    text-align:center;
    border: #a695cf;
    border-radius:25px ;
    -webkit-border-radius:25px ;
    -moz-border-radius:25px ;
    -ms-border-radius:25px ;
    -o-border-radius:25px ;
    display: flex;
}

.kati{
    width:5px;
}

.receta{
    border: black;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    background-color: #3E3E4F;
    text-align: center;
}

.fotoomelette{
    display: flex;
    align-items: center;
    justify-content: center;
}

li{
    color: white;
}

.ingredientes{
    color: white;
}

.rec{
    color: white;
    display: inline;
    
}
.recetaa{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-family: 'Pinyon Script', cursive;
    display:inline-block;
}

h2{
    color: #dcdcff !important;

}

a{
    position: static;
    bottom: 1px;
    top:99vh;
}

@media  screen and (min-width:2931px){
}